## calendar

In [1]:
import calendar

In [3]:
print(calendar.month(2024,1))

    January 2024
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [4]:
# 윤년 여부 확인
print(calendar.isleap(2023))

False

In [5]:
import datetime

In [6]:
datetime.date.today()

datetime.date(2024, 1, 5)

In [7]:
print(datetime.date.today())

2024-01-05

In [10]:
datetime.datetime.today

In [11]:
datetime.datetime.today()

datetime.datetime(2024, 1, 5, 1, 41, 29, 648560)

In [12]:
print(datetime.datetime.today())

2024-01-05 01:41:37.256801

In [13]:
d = datetime.datetime.now()

print(d.hour)
print(d.minute)
print(d.second)

1
42
11

In [15]:
# 태어나서 몇일이 지났는지 계산하기
today = datetime.date.today()
birth = datetime.date(1998, 2, 15)

today - birth

datetime.timedelta(days=9455)

## random

In [16]:
import random

In [17]:
# 0~1사이 난수
random.random()

0.141046209557396

In [18]:
# a~b사이 난수
random.randint(1, 10)

3

In [22]:
# 여러 항목 중 선택
random.choice(['가위', '바위', '보'])

'보'

In [23]:
# 예제: 뽑기 당첨 확률

import random

cnt = 0

while True:
    r = random.randint(1, 100)
    print(r)

    cnt += 1

    if r == 50:
        break

print(f'{cnt}번째에 캐릭터 get')

86
37
17
20
9
83
13
72
60
15
93
75
87
71
20
77
40
82
30
45
82
35
13
28
11
98
33
77
19
28
74
99
51
21
13
60
12
74
54
98
80
59
12
33
24
84
63
12
99
11
80
79
4
28
94
42
16
58
85
57
91
44
89
50
64번째에 캐릭터 get